%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{deps, [
   {seqbind, ".*", {git, "git://github.com/spawngrid/seqbind.git", "HEAD"}},
   {erlando, ".*", {git, "git://github.com/rabbitmq/erlando.git", "HEAD"}},
   {lists2, ".*", {git, "git://github.com/arcusfelis/list2.git", "HEAD"}}
]}.
