%% -*- tab-width: 4;erlang-indent-level: 4;indent-tabs-mode: nil -*-
%% ex: ft=erlang ts=4 sw=4 et

{deps, [
   {lager, ".*", {git, "git://github.com/basho/lager.git", {tag, "1.2.1"}}},   
   {seqbind, ".*", {git, "git://github.com/spawngrid/seqbind.git", "HEAD"}},
   {erlando, ".*", {git, "git://github.com/rabbitmq/erlando.git", "HEAD"}},
   {lists2, ".*", {git, "git://github.com/arcusfelis/list2.git", "HEAD"}},
   {binary2, ".*", {git, "git://github.com/arcusfelis/binary2.git", "HEAD"}},
   {dirmon, ".*", {git, "git://github.com/arcusfelis/dirmon.git", "HEAD"}},
   {rum, ".*", {git, "git://github.com/mad-cocktail/rum.git", "HEAD"}},
   {gin, ".*", {git, "git://github.com/mad-cocktail/gin.git", "HEAD"}},
   {moka, ".*", {git, "git://github.com/samuelrivas/moka.git", "HEAD"}}
]}.

{erl_opts, [{parse_transform, lager_transform}]}.
